{% extends "base.html" %}
{% block content %}
<section>
<h1>Add a new URL</h1>
<form action="" method="post">
    <article>
        <p>
           {{ form.hidden_tag() }}
           {{ form.csrf_token }}
           {{ form.url.label }} {{ form.url(size=20) }}
           <ul>
           {% for error in form.url.errors %}
               <li>{{ error }}</li>
           {% endfor %}
           </ul>    
        </p>
        <p>
            <button type="submit">Submit</button>
        </p>
     </article>
</form>
</section>
{% endblock %}
