<!DOCTYPE html>
<html>
    <head>
    </head>
<body>
    <div class="header-container">
        <header class="wrapper clearfix">
            <a href="{{ url_for('return_200') }}"><h1 class="title">Status Code Add</h1></a>
            <nav>
                <ul>
                    <li><a href="{{ url_for('add') }}">Add URL</a></li>
                    {% if current_user.is_authenticated %}
                        <li><a href="{{ url_for('logout') }}">Sign out</a></li>
                    {% else %}
                        <li><a href="{{ url_for('signup') }}">Signup</a></li>
                        <li><a href="{{ url_for('login') }}">Sign in</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>

    </div>


    <article class=flashes>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </article>
    {% block content %}
    {% endblock %}
</body>
</html>
